@using Frontend.Data
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.Forms

@inject ILogger<NewSummaryRequest> Logger
@inject SummaryRequestService SummaryRequestService

<h4 style="font-family: system-ui; 
color: brown; padding-bottom: 10px; 
margin-left: 5%;">Queue new request</h4> 

<EditForm EditContext="@editContext" OnSubmit="@AddSummaryRequestAsync">
    <DataAnnotationsValidator />
    <InputText id="email" @bind-Value="newSummaryRequestPayload.Email" placeholder="Email"
    style="border-radius: 5px; border-color:brown; height:50px; width: 250px; margin-left:5%; border-style: double;" />

    <InputText id="url" @bind-Value="newSummaryRequestPayload.Url" placeholder="Url" 
    style="border-radius: 5px; border-color: brown; height: 50px; width: 250px; border-style: double;"/>

    <button type="submit" class="btn btn-primary" style="background-color: brown; border-color: brown;">
     Queue
    </button>
    <ValidationSummary />
</EditForm>

@code {
    private NewSummaryRequestPayload newSummaryRequestPayload = new NewSummaryRequestPayload();
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new(newSummaryRequestPayload);
    }

    private async Task AddSummaryRequestAsync()
    {
        if (editContext != null && editContext.Validate())
        {
            Logger.LogInformation("AddSummaryRequestAsync called: Form  is valid");
            await SummaryRequestService.AddSummaryRequestAsync(newSummaryRequestPayload);
        }
    }
}
