@using Frontend.Data
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.Forms

@inject ILogger<NewSummaryRequest> Logger
@inject SummaryRequestService SummaryRequestService

<h4>Queue new request</h4> 

<EditForm EditContext="@editContext" OnSubmit="@AddSummaryRequestAsync">
    <DataAnnotationsValidator />
    <InputText id="email" @bind-Value="newSummaryRequestPayload.Email" placeholder="Email" />

    <InputText id="url" @bind-Value="newSummaryRequestPayload.Url" placeholder="Url" />

    <button type="submit" class="btn btn-primary">
     Queue
    </button>
    <ValidationSummary />
</EditForm>

@code {
    private NewSummaryRequestPayload newSummaryRequestPayload = new NewSummaryRequestPayload();
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        newSummaryRequestPayload.Email = "darei@microsoft.com";
        editContext = new(newSummaryRequestPayload);
    }

    private async Task AddSummaryRequestAsync()
    {
        if (editContext != null && editContext.Validate())
        {
            Logger.LogInformation("AddSummaryRequestAsync called: Form  is valid");
            await SummaryRequestService.AddSummaryRequestAsync(newSummaryRequestPayload);
        }
    }
}
