@page "/"

<div>
    <PageTitle>Summarizer</PageTitle>

    <h1>Summarizer GPT</h1>

    <div style='padding-top:50px;'>
        <NewSummaryRequest />
    </div>
    <div style='padding-top:50px;'>
        <FetchSummaryRequests />
    </div>
</div>
