@page "/"

<div style="background-color: lavenderblush;">
    <PageTitle>Summarizer</PageTitle>

    <h1 style="color: brown; text-align: center; font-family: system-ui;">SummarizerGPT</h1>
    
    <div style='padding-top:50px;'>
        <NewSummaryRequest />
    </div>
    <div style='padding-top:50px;'>
        <FetchSummaryRequests />
    </div>
</div>
